#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Label_36 {
  position: absolute;
  top: 0px;
  left: 1px;
  padding-top: 38px;
  padding-left: 73px;
  width: 285px;
  height: 18px;
  background-color: #FD9927;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Light,Arial;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Label_36 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Label_36 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Label_36 span#rtr-s-Label_36_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Image_71 > svg {
  width: 24px;
  height: 24px;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Image_71 {
  position: absolute;
  top: 15px;
  left: 19px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Picture_1 {
  position: absolute;
  top: 5px;
  left: 57px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Text_1 {
  position: absolute;
  top: 9px;
  left: 108px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Text_2 {
  position: absolute;
  top: 31px;
  left: 108px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Light,Arial;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 8.0pt;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-input {
  position: absolute;
  top: 589px;
  left: 19px;
  width: 267px;
  height: 32px;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Input_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 262px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Input_2 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Line_3 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 267px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Line_4 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 267px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #shapewrapper-s-Line_4 {
  display: none;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Flat-button-light {
  position: absolute;
  top: 600px;
  left: 294px;
  width: 47px;
  height: 21px;
  background-color: #6ACA6B;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 1px 1px 1px 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Flat-button-light .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Flat-button-light span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Flat-button-light span#rtr-s-Flat-button-light_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_1 {
  position: absolute;
  top: 532px;
  left: 236px;
  width: 107px;
  height: 40px;
  background-color: #FFFE9F;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_1 span#rtr-s-Rectangle_1_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_1 span#rtr-s-Rectangle_1_2 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_2 {
  position: absolute;
  top: 493px;
  left: 19px;
  width: 107px;
  height: 40px;
  background-color: #6EFFFE;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_2 span#rtr-s-Rectangle_2_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_2 span#rtr-s-Rectangle_2_2 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_4 {
  position: absolute;
  top: 323px;
  left: 236px;
  width: 107px;
  height: 40px;
  background-color: #FFFE9F;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_4 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_4 span#rtr-s-Rectangle_4_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_4 span#rtr-s-Rectangle_4_2 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_5 {
  position: absolute;
  top: 246px;
  left: 113px;
  width: 226px;
  height: 58px;
  background-color: #FFFE9F;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 3px 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_5 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_5 span#rtr-s-Rectangle_5_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_5 span#rtr-s-Rectangle_5_2 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_6 {
  position: absolute;
  top: 380px;
  left: 236px;
  width: 107px;
  height: 40px;
  background-color: #FFFE9F;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_6 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_6 span#rtr-s-Rectangle_6_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_6 span#rtr-s-Rectangle_6_2 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_3 {
  position: absolute;
  top: 438px;
  left: 19px;
  width: 107px;
  height: 40px;
  background-color: #6EFFFE;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_3 span#rtr-s-Rectangle_3_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_3 span#rtr-s-Rectangle_3_2 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}