#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Label_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Picture_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-3596e8ed-2b55-4dcf-b835-4c2aee7a948e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}