#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-maps-background {
  -ms-transform: rotate(0.0deg);
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Pinmap {
  -ms-transform: rotate(0.0deg);
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Float-button-light {
  -ms-transform: rotate(0.0deg);
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Label_36 {
  -ms-transform: rotate(0.0deg);
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Label_39 {
  -ms-transform: rotate(0.0deg);
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Pinmap_1 {
  -ms-transform: rotate(0.0deg);
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Pinmap_2 {
  -ms-transform: rotate(0.0deg);
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Pinmap_3 {
  -ms-transform: rotate(0.0deg);
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Pinmap_4 {
  -ms-transform: rotate(0.0deg);
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Pinmap_5 {
  -ms-transform: rotate(0.0deg);
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Pinmap_6 {
  -ms-transform: rotate(0.0deg);
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Image_70 {
  -ms-transform: rotate(0.0deg);
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}