#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-maps-background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Pinmap {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Float-button-light {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Label_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Label_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Pinmap_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Pinmap_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Pinmap_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Pinmap_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Pinmap_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Pinmap_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Image_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-474fb2ff-7941-4f4e-8b52-fbb665e7b010 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}