#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Panel_2 > .valign {
  vertical-align: top;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Two-line-item_28 {
  -ms-transform: rotate(0.0deg);
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Two-line-item_10 {
  -ms-transform: rotate(0.0deg);
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Icon_phone_4 {
  -ms-transform: rotate(0.0deg);
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Icon-hagouts_8 {
  -ms-transform: rotate(0.0deg);
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Two-line-item_3 {
  -ms-transform: rotate(0.0deg);
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Icon_phone_3 {
  -ms-transform: rotate(0.0deg);
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Label_16 {
  -ms-transform: rotate(0.0deg);
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Label_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}