#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Two-line-item_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Two-line-item_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Icon_phone_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Icon-hagouts_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Two-line-item_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Icon_phone_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Label_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Label_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}