#s-4dfbac88-daa2-4138-933a-f25bdd99c993 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Image_7 {
  position: absolute;
  top: 1px;
  left: 0px;
  width: 360px;
  height: 264px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-contactinfo-dialog {
  position: absolute;
  top: 264px;
  left: 0px;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Panel_2 {
  width: 360px;
  height: 370px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Two-line-item_28 {
  padding-top: 12px;
  padding-left: 100px;
  width: 260px;
  height: 12px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Two-line-item_28 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Two-line-item_28 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Two-line-item_28 span#rtr-s-Two-line-item_28_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Group_12 {
  width: 360px;
  height: 65px;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Two-line-item_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 12px;
  padding-left: 65px;
  width: 295px;
  height: 53px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 38px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Two-line-item_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Two-line-item_10 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Two-line-item_10 span#rtr-s-Two-line-item_10_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Icon_phone_4 {
  position: absolute;
  top: 20px;
  left: 19px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Icon_phone_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Icon_phone_4 span {
  color: #4252AB;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 18.0pt;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Icon_phone_4 span#rtr-s-Icon_phone_4_0 {
  color: #4252AB;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Icon-hagouts_8 {
  position: absolute;
  top: 19px;
  left: 306px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 17.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Icon-hagouts_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Icon-hagouts_8 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 17.0pt;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Icon-hagouts_8 span#rtr-s-Icon-hagouts_8_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 17.0pt;
  line-height: 0px;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Line_4 {
  position: relative;
  width: 292px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Group_10 {
  width: 360px;
  height: 65px;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Two-line-item_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 12px;
  padding-left: 65px;
  width: 295px;
  height: 53px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 42px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Two-line-item_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Two-line-item_3 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Two-line-item_3 span#rtr-s-Two-line-item_3_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Icon_phone_3 {
  position: absolute;
  top: 20px;
  left: 19px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Icon_phone_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Icon_phone_3 span {
  color: #4252AB;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 18.0pt;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Icon_phone_3 span#rtr-s-Icon_phone_3_0 {
  color: #4252AB;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Label_16 {
  position: absolute;
  top: 19px;
  left: 14px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Label_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Label_16 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Label_16 span#rtr-s-Label_16_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Label_2 {
  position: absolute;
  top: 183px;
  left: 14px;
  width: 330px;
  height: 68px;
  background-color: transparent;
  background-image: none;
  opacity: 0.99;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 30.0pt;
  font-family: Roboto-Thin,Arial;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Label_2 .valign {
  vertical-align: bottom;
  text-align: left;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Label_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Thin,Arial;
  font-size: 30.0pt;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 #s-Label_2 span#rtr-s-Label_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Thin,Arial;
  font-size: 30.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-4dfbac88-daa2-4138-933a-f25bdd99c993 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}