#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-txt_friend {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-txt_Spot {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Input_3 INPUT {
  font-family: Arial;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Flat-button-light_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Flat-button-light_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}