#s-5bc698c6-ba50-4499-a768-f1c969c6d07e > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-txt_friend {
  position: absolute;
  top: 47px;
  left: 95px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 24.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-txt_friend .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-txt_friend span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 24.0pt;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-txt_friend span#rtr-s-txt_friend_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-txt_Spot {
  position: absolute;
  top: 47px;
  left: 185px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 24.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-txt_Spot .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-txt_Spot span {
  color: #FD9927;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 24.0pt;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-txt_Spot span#rtr-s-txt_Spot_0 {
  color: #FD9927;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Text_1 {
  position: absolute;
  top: 89px;
  left: 76px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Light,Arial;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-input {
  position: absolute;
  top: 186px;
  left: 37px;
  width: 286px;
  height: 32px;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Input_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 281px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Input_2 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Line_3 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 286px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Line_4 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 286px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #shapewrapper-s-Line_4 {
  display: none;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-input_1 {
  position: absolute;
  top: 243px;
  left: 38px;
  width: 286px;
  height: 32px;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Input_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 281px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Input_3 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Line_5 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 286px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Line_6 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 286px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #shapewrapper-s-Line_6 {
  display: none;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Flat-button-light {
  position: absolute;
  top: 297px;
  left: 38px;
  width: 283px;
  height: 28px;
  background-color: #FD9941;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Flat-button-light .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Flat-button-light span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Flat-button-light span#rtr-s-Flat-button-light_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Text_2 {
  position: absolute;
  top: 360px;
  left: 171px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Text_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Text_2 span#rtr-s-Text_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Line_1 {
  position: absolute;
  top: 368px;
  left: 40px;
  width: 117px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Line_2 {
  position: absolute;
  top: 369px;
  left: 205px;
  width: 117px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Flat-button-light_1 {
  position: absolute;
  top: 395px;
  left: 38px;
  width: 283px;
  height: 28px;
  background-color: #4A86E8;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Flat-button-light_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Flat-button-light_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Flat-button-light_1 span#rtr-s-Flat-button-light_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Flat-button-light_2 {
  position: absolute;
  top: 433px;
  left: 38px;
  width: 283px;
  height: 28px;
  background-color: #FC363B;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Flat-button-light_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Flat-button-light_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Flat-button-light_2 span#rtr-s-Flat-button-light_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Text_3 {
  position: absolute;
  top: 570px;
  left: 76px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Text_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Text_3 span#rtr-s-Text_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Text_4 {
  position: absolute;
  top: 570px;
  left: 233px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Text_4 span {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 11.0pt;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Text_4 span#rtr-s-Text_4_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}