#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-txt_friend {
  -ms-transform: rotate(0.0deg);
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-txt_Spot {
  -ms-transform: rotate(0.0deg);
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Flat-button-light {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 283px;
  height: 28px;
  -ms-transform: rotate(0.0deg);
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Flat-button-light_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 283px;
  height: 28px;
  -ms-transform: rotate(0.0deg);
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Flat-button-light_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 283px;
  height: 28px;
  -ms-transform: rotate(0.0deg);
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-5bc698c6-ba50-4499-a768-f1c969c6d07e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}