#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Label_36 {
  -ms-transform: rotate(0.0deg);
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Image_144 {
  -ms-transform: rotate(0.0deg);
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Ellipse_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Flat-button-light {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 335px;
  height: 28px;
  -ms-transform: rotate(0.0deg);
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}