#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Label_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Image_144 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}