#s-660b25cb-93fa-41d2-b8d4-721789464a4d > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Label_36 {
  position: absolute;
  top: -1px;
  left: 1px;
  padding-top: 38px;
  padding-left: 73px;
  width: 285px;
  height: 18px;
  background-color: #FD9927;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Light,Arial;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Label_36 .valign {
  vertical-align: top;
  text-align: left;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Label_36 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Label_36 span#rtr-s-Label_36_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Image_71 > svg {
  width: 24px;
  height: 24px;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Image_71 {
  position: absolute;
  top: 15px;
  left: 19px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Group_1 {
  position: absolute;
  top: 15px;
  left: 273px;
  width: 74px;
  height: 24px;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Image_144 > svg {
  width: 24px;
  height: 24px;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Image_144 {
  position: absolute;
  top: 0px;
  left: 50px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Text_1 {
  position: absolute;
  top: 3px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Ellipse_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 111px;
  height: 116px;
  position: absolute;
  overflow: hidden;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Ellipse_1 .content {
  width: 111px;
  height: 116px;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Ellipse_1 {
  position: absolute;
  top: 95px;
  left: 122px;
  width: 111px;
  height: 116px;
  background-color: #D9D9D9;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #shapewrapper-s-Ellipse_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Text_2 {
  position: absolute;
  top: 226px;
  left: 121px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Light,Arial;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Text_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Text_2 span#rtr-s-Text_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-input {
  position: absolute;
  top: 282px;
  left: 10px;
  width: 341px;
  height: 32px;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Input_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Input_2 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_3 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_4 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #shapewrapper-s-Line_4 {
  display: none;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-input_1 {
  position: absolute;
  top: 342px;
  left: 10px;
  width: 341px;
  height: 32px;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Input_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Input_3 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_5 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_6 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #shapewrapper-s-Line_6 {
  display: none;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-input_2 {
  position: absolute;
  top: 399px;
  left: 10px;
  width: 341px;
  height: 32px;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Input_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Input_4 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Input_4 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_7 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_8 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #shapewrapper-s-Line_8 {
  display: none;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Flat-button-light {
  position: absolute;
  top: 589px;
  left: 10px;
  width: 335px;
  height: 28px;
  background-color: #FD9941;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Flat-button-light .valign {
  vertical-align: middle;
  text-align: center;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Flat-button-light span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Flat-button-light span#rtr-s-Flat-button-light_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-input_3 {
  position: absolute;
  top: 456px;
  left: 9px;
  width: 341px;
  height: 32px;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Input_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Input_5 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_9 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_10 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #shapewrapper-s-Line_10 {
  display: none;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-input_4 {
  position: absolute;
  top: 513px;
  left: 10px;
  width: 341px;
  height: 32px;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Input_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Input_6 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Input_6 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_11 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #s-Line_12 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d #shapewrapper-s-Line_12 {
  display: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-660b25cb-93fa-41d2-b8d4-721789464a4d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}