#s-711ea13d-14fd-458d-9c90-37111a7b45f1 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-inbox-dinamicpanel_1 {
  position: absolute;
  top: 99px;
  left: 0px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Panel_3 {
  width: 360px;
  height: 419px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-inbox-item-1 {
  width: 360px;
  height: 91px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Two-line-item_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 12px;
  padding-left: 65px;
  width: 295px;
  height: 78px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Two-line-item_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Two-line-item_3 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Two-line-item_3 span#rtr-s-Two-line-item_3_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Two-line-item_3 span#rtr-s-Two-line-item_3_1 {
  color: #747474;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Thin,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Picture_3 {
  position: absolute;
  top: 8px;
  left: 10px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Label_2 {
  position: absolute;
  top: 10px;
  left: 272px;
  width: 73px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Light,Arial;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Label_2 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Label_2 span {
  color: #747474;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Label_2 span#rtr-s-Label_2_0 {
  color: #747474;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-inbox-item-2 {
  width: 360px;
  height: 91px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Two-line-item_9 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 12px;
  padding-left: 65px;
  width: 295px;
  height: 78px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Two-line-item_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Two-line-item_9 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Two-line-item_9 span#rtr-s-Two-line-item_9_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Two-line-item_9 span#rtr-s-Two-line-item_9_1 {
  color: #747474;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Thin,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Picture_9 {
  position: absolute;
  top: 8px;
  left: 10px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Label_13 {
  position: absolute;
  top: 11px;
  left: 272px;
  width: 73px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Light,Arial;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Label_13 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Label_13 span {
  color: #747474;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Label_13 span#rtr-s-Label_13_0 {
  color: #747474;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-inbox-item-3 {
  width: 360px;
  height: 91px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Two-line-item_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 12px;
  padding-left: 65px;
  width: 295px;
  height: 78px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Two-line-item_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Two-line-item_10 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Two-line-item_10 span#rtr-s-Two-line-item_10_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Two-line-item_10 span#rtr-s-Two-line-item_10_1 {
  color: #747474;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Thin,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Picture_10 {
  position: absolute;
  top: 8px;
  left: 10px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Label_18 {
  position: absolute;
  top: 11px;
  left: 272px;
  width: 73px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Light,Arial;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Label_18 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Label_18 span {
  color: #747474;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Label_18 span#rtr-s-Label_18_0 {
  color: #747474;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-inbox-item-4 {
  width: 360px;
  height: 91px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Two-line-item_11 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 12px;
  padding-left: 65px;
  width: 295px;
  height: 78px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Two-line-item_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Two-line-item_11 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Two-line-item_11 span#rtr-s-Two-line-item_11_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Two-line-item_11 span#rtr-s-Two-line-item_11_1 {
  color: #747474;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Thin,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Picture_11 {
  position: absolute;
  top: 8px;
  left: 10px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Label_20 {
  position: absolute;
  top: 11px;
  left: 272px;
  width: 73px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Light,Arial;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Label_20 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Label_20 span {
  color: #747474;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Label_20 span#rtr-s-Label_20_0 {
  color: #747474;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Text_1 {
  position: absolute;
  top: 17px;
  left: 57px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Label_36 {
  position: absolute;
  top: 0px;
  left: 1px;
  padding-top: 38px;
  padding-left: 73px;
  width: 285px;
  height: 18px;
  background-color: #FD9927;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Light,Arial;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Label_36 .valign {
  vertical-align: top;
  text-align: left;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Label_36 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Label_36 span#rtr-s-Label_36_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Label_39 {
  position: absolute;
  top: 16px;
  left: 325px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 19.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Label_39 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Label_39 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Label_39 span#rtr-s-Label_39_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
  line-height: 0px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Text_2 {
  position: absolute;
  top: 14px;
  left: 19px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Light,Arial;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Rectangle_1 {
  position: absolute;
  top: 54px;
  left: 0px;
  width: 359px;
  height: 46px;
  background-color: #FD9941;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Image_36 > svg {
  width: 24px;
  height: 24px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Image_36 {
  position: absolute;
  top: 66px;
  left: 25px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Image_70 > svg {
  width: 24px;
  height: 24px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Image_70 {
  position: absolute;
  top: 66px;
  left: 311px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Image_71 > svg {
  width: 24px;
  height: 24px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Image_71 {
  position: absolute;
  top: 66px;
  left: 209px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Image_74 > svg {
  width: 24px;
  height: 25px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Image_74 {
  position: absolute;
  top: 65px;
  left: 114px;
  width: 24px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}