#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Two-line-item_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Picture_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Two-line-item_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Picture_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Two-line-item_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Picture_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Label_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Two-line-item_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Picture_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Label_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Label_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Label_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Image_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}