#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Panel_3 > .valign {
  vertical-align: top;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Two-line-item_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Picture_3 {
  -ms-transform: rotate(0.0deg);
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Two-line-item_9 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Picture_9 {
  -ms-transform: rotate(0.0deg);
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Label_13 {
  -ms-transform: rotate(0.0deg);
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Two-line-item_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Picture_10 {
  -ms-transform: rotate(0.0deg);
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Label_18 {
  -ms-transform: rotate(0.0deg);
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Two-line-item_11 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Picture_11 {
  -ms-transform: rotate(0.0deg);
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Label_20 {
  -ms-transform: rotate(0.0deg);
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Label_36 {
  -ms-transform: rotate(0.0deg);
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Label_39 {
  -ms-transform: rotate(0.0deg);
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Image_70 {
  -ms-transform: rotate(0.0deg);
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-711ea13d-14fd-458d-9c90-37111a7b45f1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}