#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Panel_2 > .valign {
  vertical-align: top;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Picture_5 {
  -ms-transform: rotate(0.0deg);
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Picture_4 {
  -ms-transform: rotate(0.0deg);
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Star_4 {
  -ms-transform: rotate(0.0deg);
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Picture_6 {
  -ms-transform: rotate(0.0deg);
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Star_6 {
  -ms-transform: rotate(0.0deg);
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Label_36 {
  -ms-transform: rotate(0.0deg);
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Label_39 {
  -ms-transform: rotate(0.0deg);
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Image_70 {
  -ms-transform: rotate(0.0deg);
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Image_77 {
  -ms-transform: rotate(0.0deg);
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Image_75 {
  -ms-transform: rotate(0.0deg);
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Ellipse_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}