#s-72c71c69-9e79-42f8-bcba-e66294e025e2 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Contactlist-item-dialog-complete {
  position: absolute;
  top: 217px;
  left: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Panel_2 {
  width: 360px;
  height: 186px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Contacts-list-item_5 {
  width: 360px;
  height: 61px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Rectangle_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 20px;
  padding-left: 95px;
  width: 265px;
  height: 41px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 9px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Rectangle_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Rectangle_6 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Picture_5 {
  position: absolute;
  top: 8px;
  left: 46px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_1 {
  position: absolute;
  top: 34px;
  left: 95px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Light,Arial;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 8.0pt;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Contacts-list-item_4 {
  width: 360px;
  height: 61px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Rectangle_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 20px;
  padding-left: 95px;
  width: 265px;
  height: 41px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 9px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Rectangle_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Rectangle_4 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Rectangle_4 span#rtr-s-Rectangle_4_1 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Picture_4 {
  position: absolute;
  top: 8px;
  left: 46px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Star_4 {
  position: absolute;
  top: 19px;
  left: 15px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 17.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Star_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Star_4 span {
  color: #FC4482;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 17.0pt;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Star_4 span#rtr-s-Star_4_0 {
  color: #FC4482;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 17.0pt;
  line-height: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_2 {
  position: absolute;
  top: 34px;
  left: 95px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Light,Arial;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 8.0pt;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Contacts-list-item_6 {
  width: 360px;
  height: 61px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Rectangle_9 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 20px;
  padding-left: 95px;
  width: 265px;
  height: 41px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 10px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Rectangle_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Rectangle_9 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Rectangle_9 span#rtr-s-Rectangle_9_1 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Picture_6 {
  position: absolute;
  top: 8px;
  left: 46px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Star_6 {
  position: absolute;
  top: 19px;
  left: 15px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 17.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Star_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Star_6 span {
  color: #FC4482;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 17.0pt;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Star_6 span#rtr-s-Star_6_0 {
  color: #FC4482;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 17.0pt;
  line-height: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_3 {
  position: absolute;
  top: 34px;
  left: 95px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Light,Arial;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 8.0pt;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_4 {
  position: absolute;
  top: 17px;
  left: 57px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Label_36 {
  position: absolute;
  top: 0px;
  left: 1px;
  padding-top: 38px;
  padding-left: 73px;
  width: 285px;
  height: 18px;
  background-color: #FD9927;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Light,Arial;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Label_36 .valign {
  vertical-align: top;
  text-align: left;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Label_36 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Label_36 span#rtr-s-Label_36_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Label_39 {
  position: absolute;
  top: 16px;
  left: 325px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 19.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Label_39 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Label_39 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Label_39 span#rtr-s-Label_39_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
  line-height: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_5 {
  position: absolute;
  top: 14px;
  left: 19px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Light,Arial;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Rectangle_1 {
  position: absolute;
  top: 54px;
  left: 0px;
  width: 359px;
  height: 46px;
  background-color: #FD9941;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Image_36 > svg {
  width: 24px;
  height: 24px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Image_36 {
  position: absolute;
  top: 66px;
  left: 25px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Image_70 > svg {
  width: 24px;
  height: 24px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Image_70 {
  position: absolute;
  top: 66px;
  left: 311px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_6 {
  position: absolute;
  top: 193px;
  left: 0px;
  width: 360px;
  height: 23px;
  background-color: #D9D9D9;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_6 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_6 span#rtr-s-Text_6_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_7 {
  position: absolute;
  top: 171px;
  left: 0px;
  width: 360px;
  height: 23px;
  background-color: #CCCCCC;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_7 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 11.0pt;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Image_71 > svg {
  width: 24px;
  height: 24px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Image_71 {
  position: absolute;
  top: 66px;
  left: 209px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Image_74 > svg {
  width: 24px;
  height: 25px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Image_74 {
  position: absolute;
  top: 65px;
  left: 114px;
  width: 24px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Image_77 > svg {
  width: 29px;
  height: 31px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Image_77 {
  position: absolute;
  top: 112px;
  left: 228px;
  width: 29px;
  height: 31px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Image_75 > svg {
  width: 30px;
  height: 39px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Image_75 {
  position: absolute;
  top: 108px;
  left: 88px;
  width: 30px;
  height: 39px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Ellipse_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  overflow: hidden;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Ellipse_1 .content {
  width: 20px;
  height: 20px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Ellipse_1 {
  position: absolute;
  top: 108px;
  left: 106px;
  width: 20px;
  height: 20px;
  background-color: #FF0000;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #shapewrapper-s-Ellipse_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_8 {
  position: absolute;
  top: 144px;
  left: 67px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Light,Arial;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_8 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 8.0pt;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_9 {
  position: absolute;
  top: 144px;
  left: 221px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Light,Arial;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_9 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 8.0pt;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}