#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Picture_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Picture_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Star_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Picture_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Star_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Label_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Label_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Image_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Image_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Image_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-72c71c69-9e79-42f8-bcba-e66294e025e2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}