#s-782f3941-0888-4e44-b59a-bec8d1a92242 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 #s-Label_36 {
  position: absolute;
  top: 0px;
  left: 1px;
  padding-top: 38px;
  padding-left: 73px;
  width: 285px;
  height: 18px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Light,Arial;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 #s-Label_36 .valign {
  vertical-align: top;
  text-align: left;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 #s-Label_36 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 #s-Label_36 span#rtr-s-Label_36_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 #s-Text_5 {
  position: absolute;
  top: 15px;
  left: 57px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Light,Arial;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 #s-Text_5 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 #s-Image_71 > svg {
  width: 24px;
  height: 24px;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 #s-Image_71 {
  position: absolute;
  top: 15px;
  left: 19px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 #s-Group_1 {
  position: absolute;
  top: 57px;
  left: 0px;
  width: 360px;
  height: 61px;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 #s-Two-line-item {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 12px;
  padding-left: 65px;
  width: 295px;
  height: 49px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 36px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 #s-Two-line-item .valign {
  vertical-align: top;
  text-align: left;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 #s-Two-line-item span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 #s-Two-line-item span#rtr-s-Two-line-item_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 #s-Picture_1 {
  position: absolute;
  top: 8px;
  left: 10px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 #s-Flat-button-light {
  position: absolute;
  top: 19px;
  left: 283px;
  width: 56px;
  height: 21px;
  background-color: #6ACA6B;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 1px 1px 1px 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 #s-Flat-button-light .valign {
  vertical-align: middle;
  text-align: center;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 #s-Flat-button-light span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 #s-Flat-button-light span#rtr-s-Flat-button-light_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 #s-Group_2 {
  position: absolute;
  top: 117px;
  left: 0px;
  width: 360px;
  height: 61px;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 #s-Two-line-item_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 12px;
  padding-left: 65px;
  width: 295px;
  height: 49px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 36px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 #s-Two-line-item_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 #s-Two-line-item_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 #s-Two-line-item_1 span#rtr-s-Two-line-item_1_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 #s-Flat-button-light_1 {
  position: absolute;
  top: 19px;
  left: 283px;
  width: 56px;
  height: 21px;
  background-color: #CCCCCC;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 1px 1px 1px 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 #s-Flat-button-light_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 #s-Flat-button-light_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 #s-Flat-button-light_1 span#rtr-s-Flat-button-light_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 #s-Picture_4 {
  position: absolute;
  top: 125px;
  left: 10px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}