#s-782f3941-0888-4e44-b59a-bec8d1a92242 #s-Label_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 #s-Two-line-item {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 #s-Picture_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 #s-Two-line-item_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 #s-Flat-button-light_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 #s-Picture_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-782f3941-0888-4e44-b59a-bec8d1a92242 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}