#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Float-button-light {
  -ms-transform: rotate(0.0deg);
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Picture_5 {
  -ms-transform: rotate(0.0deg);
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Picture_6 {
  -ms-transform: rotate(0.0deg);
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Picture_7 {
  -ms-transform: rotate(0.0deg);
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}