#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Float-button-light {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Picture_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Picture_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Picture_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}