#s-bab033c8-7aeb-48a0-be00-85126d68bc51 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Rectangle_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 641px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px -2px 4px 0px #999999;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Rectangle_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Text_2 {
  position: absolute;
  top: 18px;
  left: 47px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Text_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Text_3 {
  position: absolute;
  top: 15px;
  left: 34px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Text_3 span {
  color: #FD6721;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #FD6721;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Line_1 {
  position: absolute;
  top: 48px;
  left: 33px;
  width: 285px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Text_4 {
  position: absolute;
  top: 59px;
  left: 33px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Text_4 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Line_2 {
  position: absolute;
  top: 103px;
  left: 0px;
  width: 360px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Float-button-light .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 56px;
  height: 56px;
  position: absolute;
  overflow: hidden;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Float-button-light .content {
  width: 56px;
  height: 56px;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Float-button-light {
  position: absolute;
  top: 76px;
  left: 285px;
  width: 56px;
  height: 56px;
  background-color: #08AE9E;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 5px 5px 0px #CCCCCC;
  text-shadow: none;
  line-height: 38px;
  font-size: 24.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #shapewrapper-s-Float-button-light .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #shapewrapper-s-Float-button-light span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 24.0pt;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #shapewrapper-s-Float-button-light span#rtr-s-Float-button-light_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Contacts-list-item_5 {
  position: absolute;
  top: 145px;
  left: 0px;
  width: 360px;
  height: 61px;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Rectangle_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 20px;
  padding-left: 95px;
  width: 265px;
  height: 41px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 9px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Rectangle_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Rectangle_6 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Picture_5 {
  position: absolute;
  top: 8px;
  left: 46px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Text_1 {
  position: absolute;
  top: 34px;
  left: 95px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Light,Arial;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 8.0pt;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Contacts-list-item_6 {
  position: absolute;
  top: 203px;
  left: 0px;
  width: 360px;
  height: 61px;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Rectangle_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 20px;
  padding-left: 95px;
  width: 265px;
  height: 41px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 9px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Rectangle_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Rectangle_7 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Picture_6 {
  position: absolute;
  top: 8px;
  left: 46px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Text_5 {
  position: absolute;
  top: 34px;
  left: 95px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Light,Arial;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Text_5 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 8.0pt;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Contacts-list-item_7 {
  position: absolute;
  top: 263px;
  left: 0px;
  width: 360px;
  height: 61px;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Rectangle_8 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 20px;
  padding-left: 95px;
  width: 265px;
  height: 41px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 9px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Rectangle_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Rectangle_8 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Picture_7 {
  position: absolute;
  top: 8px;
  left: 46px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Text_6 {
  position: absolute;
  top: 34px;
  left: 95px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Light,Arial;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Text_6 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 8.0pt;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-bab033c8-7aeb-48a0-be00-85126d68bc51 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}