#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-maps-background {
  -ms-transform: rotate(0.0deg);
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Pinmap {
  -ms-transform: rotate(0.0deg);
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Float-button-light {
  -ms-transform: rotate(0.0deg);
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Label_36 {
  -ms-transform: rotate(0.0deg);
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Label_39 {
  -ms-transform: rotate(0.0deg);
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Pinmap_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Pinmap_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Pinmap_3 {
  -ms-transform: rotate(0.0deg);
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Pinmap_4 {
  -ms-transform: rotate(0.0deg);
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Pinmap_5 {
  -ms-transform: rotate(0.0deg);
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Pinmap_6 {
  -ms-transform: rotate(0.0deg);
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Image_70 {
  -ms-transform: rotate(0.0deg);
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=63);
  filter: alpha(opacity=63);
  -ms-transform: rotate(0.0deg);
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Rectangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=63);
  filter: alpha(opacity=63);
  -ms-transform: rotate(0.0deg);
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Image_77 {
  -ms-transform: rotate(0.0deg);
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Rectangle_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}