#s-cf28176e-5685-4c1c-9d09-aa5e847b269f > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-maps-background {
  position: absolute;
  top: 55px;
  left: 0px;
  width: 360px;
  height: 583px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Rectangle_3 {
  position: absolute;
  top: 540px;
  left: 0px;
  width: 360px;
  height: 100px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px -2px 4px 0px #999999;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Rectangle_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Pinmap {
  position: absolute;
  top: 172px;
  left: 112px;
  width: 85px;
  height: 85px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Float-button-light .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 56px;
  height: 56px;
  position: absolute;
  overflow: hidden;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Float-button-light .content {
  width: 56px;
  height: 56px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Float-button-light {
  position: absolute;
  top: 514px;
  left: 295px;
  width: 56px;
  height: 56px;
  background-color: #08AE9E;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 5px 5px 0px #CCCCCC;
  text-shadow: none;
  line-height: 38px;
  font-size: 24.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #shapewrapper-s-Float-button-light .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #shapewrapper-s-Float-button-light span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 24.0pt;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #shapewrapper-s-Float-button-light span#rtr-s-Float-button-light_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Label_36 {
  position: absolute;
  top: -1px;
  left: 1px;
  padding-top: 38px;
  padding-left: 73px;
  width: 285px;
  height: 18px;
  background-color: #FD9927;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Light,Arial;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Label_36 .valign {
  vertical-align: top;
  text-align: left;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Label_36 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Label_36 span#rtr-s-Label_36_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Label_39 {
  position: absolute;
  top: 15px;
  left: 325px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 19.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Label_39 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Label_39 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Label_39 span#rtr-s-Label_39_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
  line-height: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Text_1 {
  position: absolute;
  top: 13px;
  left: 19px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Light,Arial;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Pinmap_1 {
  position: absolute;
  top: 182px;
  left: 122px;
  width: 85px;
  height: 85px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Pinmap_2 {
  position: absolute;
  top: 228px;
  left: 171px;
  width: 85px;
  height: 85px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Pinmap_3 {
  position: absolute;
  top: 209px;
  left: 57px;
  width: 85px;
  height: 85px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Pinmap_4 {
  position: absolute;
  top: 212px;
  left: 152px;
  width: 85px;
  height: 85px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Pinmap_5 {
  position: absolute;
  top: 222px;
  left: 162px;
  width: 85px;
  height: 85px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Pinmap_6 {
  position: absolute;
  top: 144px;
  left: 162px;
  width: 85px;
  height: 85px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Text_2 {
  position: absolute;
  top: 558px;
  left: 47px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Text_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Text_2 span#rtr-s-Text_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Text_3 {
  position: absolute;
  top: 555px;
  left: 34px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Text_3 span {
  color: #FD6721;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Text_3 span#rtr-s-Text_3_0 {
  color: #FD6721;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Line_1 {
  position: absolute;
  top: 588px;
  left: 33px;
  width: 285px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Text_4 {
  position: absolute;
  top: 599px;
  left: 33px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Text_4 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Text_4 span#rtr-s-Text_4_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Rectangle_1 {
  position: absolute;
  top: 53px;
  left: 0px;
  width: 359px;
  height: 46px;
  background-color: #FD9941;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Image_71 > svg {
  width: 24px;
  height: 24px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Image_71 {
  position: absolute;
  top: 65px;
  left: 208px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Image_36 > svg {
  width: 24px;
  height: 24px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Image_36 {
  position: absolute;
  top: 65px;
  left: 25px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Image_70 > svg {
  width: 24px;
  height: 24px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Image_70 {
  position: absolute;
  top: 65px;
  left: 311px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Image_74 > svg {
  width: 24px;
  height: 25px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Image_74 {
  position: absolute;
  top: 64px;
  left: 113px;
  width: 24px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Rectangle_2 {
  position: absolute;
  top: -2px;
  left: 0px;
  width: 356px;
  height: 638px;
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  opacity: 0.63;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Rectangle_4 {
  position: absolute;
  top: 141px;
  left: 0px;
  width: 356px;
  height: 349px;
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  opacity: 0.63;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Rectangle_4 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Image_2 {
  position: absolute;
  top: 182px;
  left: 76px;
  width: 211px;
  height: 228px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Image_16 > svg {
  width: 24px;
  height: 24px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Image_16 {
  position: absolute;
  top: 296px;
  left: 25px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Image_77 > svg {
  width: 24px;
  height: 24px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Image_77 {
  position: absolute;
  top: 296px;
  left: 311px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Rectangle_5 {
  position: absolute;
  top: 409px;
  left: 75px;
  width: 212px;
  height: 28px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Rectangle_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Text_5 {
  position: absolute;
  top: 413px;
  left: 152px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Text_5 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Text_5 span#rtr-s-Text_5_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}