#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-maps-background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Pinmap {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Float-button-light {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Label_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Label_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Pinmap_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Pinmap_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Pinmap_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Pinmap_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Pinmap_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Pinmap_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Image_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=63) ;
  filter: alpha(opacity=63) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=63) ;
  filter: alpha(opacity=63) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Image_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-cf28176e-5685-4c1c-9d09-aa5e847b269f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}