#s-ec5f2d3c-5977-47cd-9739-054823139e40 #s-txt_friend {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ec5f2d3c-5977-47cd-9739-054823139e40 #s-txt_Spot {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ec5f2d3c-5977-47cd-9739-054823139e40 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ec5f2d3c-5977-47cd-9739-054823139e40 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ec5f2d3c-5977-47cd-9739-054823139e40 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ec5f2d3c-5977-47cd-9739-054823139e40 #s-Input_3 INPUT {
  font-family: Arial;
}
#s-ec5f2d3c-5977-47cd-9739-054823139e40 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ec5f2d3c-5977-47cd-9739-054823139e40 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ec5f2d3c-5977-47cd-9739-054823139e40 #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ec5f2d3c-5977-47cd-9739-054823139e40 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ec5f2d3c-5977-47cd-9739-054823139e40 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ec5f2d3c-5977-47cd-9739-054823139e40 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ec5f2d3c-5977-47cd-9739-054823139e40 #s-Flat-button-light_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ec5f2d3c-5977-47cd-9739-054823139e40 #s-Flat-button-light_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ec5f2d3c-5977-47cd-9739-054823139e40 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ec5f2d3c-5977-47cd-9739-054823139e40 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ec5f2d3c-5977-47cd-9739-054823139e40 #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ec5f2d3c-5977-47cd-9739-054823139e40 #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ec5f2d3c-5977-47cd-9739-054823139e40 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}