#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Text_1 {
  position: absolute;
  top: 17px;
  left: 57px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Group_6 {
  position: absolute;
  top: 95px;
  left: 0px;
  width: 360px;
  height: 61px;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Two-line-item {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 12px;
  padding-left: 65px;
  width: 295px;
  height: 49px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Two-line-item .valign {
  vertical-align: top;
  text-align: left;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Two-line-item span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Two-line-item span#rtr-s-Two-line-item_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Two-line-item span#rtr-s-Two-line-item_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Two-line-item span#rtr-s-Two-line-item_2 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Picture_1 {
  position: absolute;
  top: 8px;
  left: 10px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Group_7 {
  position: absolute;
  top: 152px;
  left: 0px;
  width: 360px;
  height: 61px;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Two-line-item_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 12px;
  padding-left: 65px;
  width: 295px;
  height: 49px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Two-line-item_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Two-line-item_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Two-line-item_1 span#rtr-s-Two-line-item_1_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Two-line-item_1 span#rtr-s-Two-line-item_1_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Two-line-item_1 span#rtr-s-Two-line-item_1_2 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Picture_2 {
  position: absolute;
  top: 8px;
  left: 10px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Label_36 {
  position: absolute;
  top: -1px;
  left: 1px;
  padding-top: 38px;
  padding-left: 73px;
  width: 285px;
  height: 18px;
  background-color: #FD9927;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Light,Arial;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Label_36 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Label_36 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Label_36 span#rtr-s-Label_36_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Label_39 {
  position: absolute;
  top: 15px;
  left: 325px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 19.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Label_39 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Label_39 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Label_39 span#rtr-s-Label_39_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
  line-height: 0px;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Text_2 {
  position: absolute;
  top: 13px;
  left: 19px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Light,Arial;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Rectangle_1 {
  position: absolute;
  top: 53px;
  left: 0px;
  width: 359px;
  height: 46px;
  background-color: #FD9941;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Image_36 > svg {
  width: 24px;
  height: 24px;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Image_36 {
  position: absolute;
  top: 65px;
  left: 25px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Image_70 > svg {
  width: 24px;
  height: 24px;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Image_70 {
  position: absolute;
  top: 65px;
  left: 311px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Image_71 > svg {
  width: 24px;
  height: 24px;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Image_71 {
  position: absolute;
  top: 66px;
  left: 209px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Image_74 > svg {
  width: 24px;
  height: 25px;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Image_74 {
  position: absolute;
  top: 65px;
  left: 114px;
  width: 24px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}