#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Two-line-item {
  -ms-transform: rotate(0.0deg);
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Picture_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Two-line-item_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Picture_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Label_36 {
  -ms-transform: rotate(0.0deg);
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Label_39 {
  -ms-transform: rotate(0.0deg);
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Image_70 {
  -ms-transform: rotate(0.0deg);
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}