#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Two-line-item {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Picture_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Two-line-item_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Picture_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Label_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Label_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Image_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ee912a60-8c12-411e-9677-2fd12d7c7ca9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}