#s-fb95e79b-cf7d-47af-82de-1e5475812f6c #s-Label_36 {
  -ms-transform: rotate(0.0deg);
}
#s-fb95e79b-cf7d-47af-82de-1e5475812f6c #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-fb95e79b-cf7d-47af-82de-1e5475812f6c #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-fb95e79b-cf7d-47af-82de-1e5475812f6c #s-Two-line-item {
  -ms-transform: rotate(0.0deg);
}
#s-fb95e79b-cf7d-47af-82de-1e5475812f6c #s-Picture_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fb95e79b-cf7d-47af-82de-1e5475812f6c #s-Flat-button-light {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 1px 1px 1px 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 56px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-fb95e79b-cf7d-47af-82de-1e5475812f6c #s-Flat-button-light_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 1px 1px 1px 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 27px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-fb95e79b-cf7d-47af-82de-1e5475812f6c #s-Two-line-item_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fb95e79b-cf7d-47af-82de-1e5475812f6c #s-Flat-button-light_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 1px 1px 1px 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 56px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-fb95e79b-cf7d-47af-82de-1e5475812f6c #s-Flat-button-light_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 1px 1px 1px 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 27px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-fb95e79b-cf7d-47af-82de-1e5475812f6c #s-Picture_4 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-fb95e79b-cf7d-47af-82de-1e5475812f6c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}