#s-fb95e79b-cf7d-47af-82de-1e5475812f6c #s-Label_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb95e79b-cf7d-47af-82de-1e5475812f6c #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb95e79b-cf7d-47af-82de-1e5475812f6c #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb95e79b-cf7d-47af-82de-1e5475812f6c #s-Two-line-item {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb95e79b-cf7d-47af-82de-1e5475812f6c #s-Picture_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb95e79b-cf7d-47af-82de-1e5475812f6c #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb95e79b-cf7d-47af-82de-1e5475812f6c #s-Flat-button-light_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb95e79b-cf7d-47af-82de-1e5475812f6c #s-Two-line-item_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb95e79b-cf7d-47af-82de-1e5475812f6c #s-Flat-button-light_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb95e79b-cf7d-47af-82de-1e5475812f6c #s-Flat-button-light_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb95e79b-cf7d-47af-82de-1e5475812f6c #s-Picture_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-fb95e79b-cf7d-47af-82de-1e5475812f6c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}